extends layout

block content
    section
        div#continents
            div#contdata
        div#countries
            div#countdata
        div#langForm
        div#langs
            div#langdata
