extends layout

block content
    section
        div#continents
            div#contdata
    //-
            tabel
                tr
                    each continents in world
                    td #{country.name}
                    td #{continent.name}
                





