extends layout

block content
    h1= title
    h2= subtitle
    section
        div#continents
            button#gcont Get the Continents
            div#contdata
        div#countries
            div#countdata
                p Countries will be here
        div#cities
            div#citydata
              p Cities will be here
        div#weather
            div#weatherdata
              p Kilroy will be here
