body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
* {
    box-sizing: border-box;
}
header {
    text-align: right;
    width: 100%;
    border: 0px solid red;
}
header nav ul {
    list-style: none;
    margin-right: 10px;
    text-align: right;
}
header nav ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
main {
    padding: 1em;
}
table{
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
}
th, td {
    outline: 1px solid #696969;
    padding: 14px;
    margin: 10px;
}
.col_l {
    font-weight: 600;
    text-align: right;
}
.col_num {
    text-align: right;
}
#countryForm, #langForm, #goverForm, #cityForm {
    width:50%;
    display: flex;
    justify-content: space-between;
    padding:20px;
    margin: 0 auto;
}


input{
    font-size: 14px;
}
#countryForm input, #langForm input, #goverForm input, #cityForm input {
    width:30%;
    margin:5px;
    padding:5px;
}

#goverForm input {
    width: 80%;
    margin-left: 20px;
}

input[type=text], select, input[type=number] {
    width:30%;
    margin:5px;
    padding:5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
#submitButton {
    display:block;
    width:50%;
    margin:15px auto;
    font-size:18px;
}

#goverForm #submitButton {
    width: 80%;
}

#goverment {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.upButton, .delButton {
    background-color:transparent;
    width:100%;
    height:100%;
    font-size:25px;
    margin:0;
    padding:0;
    display:block;
    border:none;
}
#citydata, #langdata{
    margin-top: 25px;
}